.badge {
	height: 433px;
	width: 303px;
	margin: 0 auto;
	border: 1px dashed #d4cccc;
	position: relative;
	font-family: 'Mukta Malar', sans-serif;
}
.badge_logo img {
	width: 100%;
	height: auto;
}
.badge_footer {
	position:absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	/*top: -100px;*/
	color: white;
	background-color: #00695C;
}
.badge_footer p {
	text-align:center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.center_align {
	text-align:center;
}
.badge_name {
	text-transform: uppercase;
	font-size: 34px;
	margin: 0px;
	letter-spacing:1px;
	word-wrap: break-word;
	line-height: 34px;
	margin-top:7px;
	margin-bottom: 7px;
}
.badge_comp_name {
	font-size: 19px;
	word-wrap: break-word;
	line-height: 15px;
	margin: 0;
	margin-bottom: 7px;
}
.badge_job_pos {
	font-size: 19px;
	word-wrap: break-word;
	line-height: 15px;
	margin:0;
	margin-bottom: 20px;
}
.nopad_nomag{
  margin:0;
  padding:0;
}

.nopad_nomag.badge_header_left img{
  width:15%;
  height:auto;
}
div.badge_footer p{
  margin:0;
  padding:0px 7px;
  text-transform:uppercase;
  font-weight:800;
  font-size:30px;
  color:white;
  margin-top:5px;
  height: 51px;
}